* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*sets background image*/
body {
    background-color: #d9dcd6;
}
/*styles our header class*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*keeps our h1 in the header an inline-block*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*styles the letters in our span tag*/
.header h1 .seo {
    color: #d9dcd6;
}
/*this div is being stylized and is actually our nav*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*this resets the style of our list to none*/
.header div ul {
    list-style-type: none;
}
/*this makes the items in our list apear inline with each other */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/*this styles our links*/
a {
    color: #ffffff;
    text-decoration: none;
}
/* this sets paragraph font-size*/
p {
    font-size: 16px;
}
/* this both provides and styles our background image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* these two float classes position the images for our section element */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* this us the parent class for the content in our section element */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* this is the parent class for the content in our aside element */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* sets the margin for our figure on aside with called out class */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/* sets the margin for our figure on aside with called out class */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/* sets the margin for our figure on aside with called out class */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* styles text */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* styles text */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* styles text */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* styles img */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* styles img */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* styles img */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* styles class */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* styles class */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* styles class */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* gives image a max-height */
.search-engine-optimization img {
    max-height: 200px;
}
/* gives image a max-height */
.online-reputation-management img {
    max-height: 200px;
}
/* gives image a max-height */
.social-media-marketing img {
    max-height: 200px;
}
/* styles text */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* styles text */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* styles text */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* styles our footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
